@font-face {
  font-family: 'swedenSans';
  src: url('fonts/SwedenSansRegular.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #000;
  font-family: 'swedenSans', sans-serif;
  color: #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

.datetime-line {
  font-size: 3.6rem;
  margin-bottom: 4rem;
  color: #c9c9c9;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0.1rem;
  margin-bottom: 1.6rem;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .4rem;
  text-decoration: none;
  color: inherit;
  padding: .5rem;
  border-radius: .5rem;
  transition: background-color 0.2s;
  overflow: hidden;
  text-align: center;
}

.icon:hover {
  background-color: #222;
}

.icon img {
  width: 3rem;
  height: 3rem;
  border-radius: .4rem;
}

.icon span {
  font-size: 1rem;
}