@font-face {
  font-family: 'swedenSans';
  src: url('fonts/SwedenSansRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #000;
  font-family: 'swedenSans', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
}

.datetime-line {
  font-size: 3.5rem;
  margin-bottom: 5rem;
  color: #fff;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
  text-decoration: none;
  color: inherit;
  padding: .5rem;
  border-radius: 1rem;
  transition: background-color 0.2s;
}

.icon:hover {
  background-color: #1f1f1f;
  cursor: pointer;
}

.icon img {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  padding: .4rem;
}

.icon span {
  font-size: 1rem;
}
